<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egon.analysis.mappers.ViolationListMapper">

    <resultMap id="BaseResultMap" type="com.egon.analysis.entity.po.ViolationList">
            <id property="car" column="car" jdbcType="VARCHAR"/>
            <result property="violation" column="violation" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        car,violation,create_time
    </sql>
</mapper>
